[Unit]
Description=HiveTalk Event Scheduler Service
After=network.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/root/scheduler
EnvironmentFile=/root/scheduler/30311_events/.env
ExecStart=/root/scheduler/30311_events/send30311
# Give enough time for the parallel event processing
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
