[Unit]
Description=HiveTalk Discord Nostr Listener Service
After=network.target

[Service]
Type=simple
User=bitcarrot
WorkingDirectory=/Users/bitcarrot/hivetalk/scheduler/discord
EnvironmentFile=/Users/bitcarrot/hivetalk/scheduler/discord/.env
ExecStart=/usr/local/go/bin/go run nostr_listener.go
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
