[Unit]
Description=HiveTalk Discord Nostr Listener Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/scheduler/discord
EnvironmentFile=/root/scheduler/discord/.env
ExecStart=/usr/bin/go run nostr_listener.go
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
