[Unit]
Description=HiveTalk Discord Nostr Listener Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/scheduler/discord
EnvironmentFile=/root/scheduler/discord/.env
ExecStart=/usr/bin/bash -c 'PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin /root/scheduler/discord/run.sh'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
